{% extends 'base.html' %}
{% block title %} Teacher per course {% endblock %}
{% block content %}
    <h2> Teachers assigned to this course </h2>
            <div class="row">
                {% for teacher in get_all_teachers %}
                    <div class="card" style="width: 20rem; margin-right: 15px">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"> {{ teacher.first_name }} {{ teacher.last_name }} </h5>
                            <p class="card-text"> Specialisation: {{ teacher.specialisation }} </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
{% endblock %}
