{% extends 'base.html' %}
{% block title %} Delete student {% endblock %}
{% block content %}
        <p> Are you sure you want to delete {{ student.first_name }} {{ student.last_name }}?</p>
        <form method="post">
            {% csrf_token %}
            <a href="{% url 'list-of-students' %}" class="btn btn-primary">No</a>
            <button type="submit" class="btn btn-danger">Yes</button>
        </form>
    </div>

{% endblock %}

{#{% extends 'base.html' %}#}
{#{% block title %} Delete student {% endblock %}#}
{#{% block content %}#}
{#    <div class="callout">#}
{#    <div class="callout-header">Warning</div>#}
{#        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>#}
{#        <div class="callout-container">#}
{#        <p> Are you sure you want to delete {{ student.first_name }} {{ student.last_name }}?</p>#}
{#        <form method="post">#}
{#            {% csrf_token %}#}
{#            <a href="{% url 'list-of-students' %}" class="btn btn-primary">No</a>#}
{#            <button type="submit" class="btn btn-danger">Yes</button>#}
{#        </form>#}
{#        </div>#}
{#    </div>#}
{##}
{#{% endblock %}#}
