{% extends 'base.html' %}
{% block title %} Detail View {% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-4">
        <div class="card" style="width: 350px;">
            <div class="card-header">
                Created at: {{ student.created_at }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ student.first_name }} {{ student.last_name }}</h5>
                <p class="card-text">Age: {{ student.age }}</p>
                <p class="card-text">Date of birth: {{ student.date_of_birth }}</p>
                <p class="card-text">Gender: {{ student.gender }}</p>
                <p class="card-text">Olympic: {{ student.olympic }}</p>
                <p class="card-text">Assigned
                    teacher: {{ student.teacher.first_name }} {{ student.teacher.last_name }}</p>

                {% if perms.student.view_list_of_students %}
                    <a href="{% url 'list-of-students' %}" class="btn btn-primary">Back to List of Students</a>
                {% endif %}
                {% if perms.student.change_student %}
                    <a href="{% url 'update-student' student.id %}" class="btn btn-success"> Update </a>
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                Updated at: {{ student.updated_at }}
            </div>
        </div>
    </div>

{% endblock %}
