{% extends 'base.html' %}
{% block title %} List of students {% endblock %}

{% block content %}
    <h2>List of students</h2>
    <form method="GET">
        {{ my_filter.form }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="row">
        {% for student in all_students %}
            <div class="card" style="width: 20rem; margin-right: 15px">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> {{ student.first_name }} {{ student.last_name }} </h5>
                    <p class="card-text"> Age: {{ student.age }} years</p>
                    <p class="card-text"> Date of birth: {{ student.date_of_birth }}</p>
                    <p class="card-text"> Assigned teacher: {{ student.teacher }}</p>
                </div>
                <div class="card-footer">
                    {% if perms.student.change_student %}
                        <a href="{% url 'update-student' student.id %}" class="btn btn-primary">Update</a>
                    {% endif %}
                    {% if perms.student.delete_student %}
                        <a href="{% url 'delete-student' student.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    {% if perms.student.detail_view %}
                        <a href="{% url 'detail-student' student.id %}" class="btn btn-warning">Details</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}



{#{% extends 'base.html' %}#}
{#{% block title %} List of students {% endblock %}#}
{##}
{#{% block content %}#}
{#    <table class="table">#}
{#        <thead>#}
{#        <tr>#}
{#            <th> First Name</th>#}
{#            <th> Last Name</th>#}
{#            <th> Age</th>#}
{#            <th> Date of Birth</th>#}
{#            <th> Teacher</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#            {% for student in all_students %}#}
{#                <tr>#}
{#                    <td> {{ student.first_name }}</td>#}
{#                    <td> {{ student.last_name }}</td>#}
{#                    <td> {{ student.age }}</td>#}
{#                    <td> {{ student.date_of_birth }}</td>#}
{#                    <td> {{ student.teacher.first_name }} {{ student.teacher.last_name }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#{% endblock %}#}
{##}
