{% extends 'base.html' %}
{% block title %} Update student {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                {% if perms.student.change_student %}
                    <button type="submit" class="btn btn-primary">Update</button>
                {% endif %}
                <a href="{% url 'list-of-students' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>

{% endblock %}
