{% extends 'base.html' %}
{% block title %} List of cars {% endblock %}
{% block content %}
    <h1>List of cars</h1>
    {% for elem in cars %}
        <p> {{ elem.brand_name }} </p>
        <p> {{ elem.model_name }} </p>
    {% endfor %}
    <a href="{% url "list_of_students" %}" class="btn btn-primary">Go to List of Students</a>
{% endblock %}

