{% extends "base.html" %}
{% block title %} List of Students {% endblock %}

{% block content %}
    <h1>List of students</h1>
    {% for student in all_students %}
        {% if student.age >= 32 %}
            <p>{{ student.first_name }}</p>
            <p>{{ student.last_name }}</p>
            <p>{{ student.age }}</p>
        {% endif %}
    {% endfor %}
    <a href="{% url 'brand_names' %}" class="btn btn-primary">Go to brands</a>
{% endblock %}



{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Home</title>#}
{#</head>#}
{#<body>#}
{#    <h1>List of students</h1>#}
{#{% for student in all_students %}#}
{#    {% if student.age >= 32 %}#}
{#        <p>{{ student.first_name }}</p>#}
{#        <p>{{ student.last_name }}</p>#}
{#        <p>{{ student.age }}</p>#}
{#    {% endif %}#}
{#{% endfor %}#}
{##}
{#</body>#}
{#</html>#}
