{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-dark">Login</button>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary">Reset password</a>
        </form>
    </div>
{% endblock %}