{% extends 'base.html' %}

{% block title %} Password reset {% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">Reset Password</button>
    </form>
{% endblock %}