{% extends 'base.html' %}
{% block title %} Confirm Reset {% endblock %}

{% block content %}
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
        <button type="submit"> Change password </button>

    </form>
{% endblock %}