{% extends 'base.html' %}
{% block title %} Delete teacher {% endblock %}
{% block content %}
    <p> Are you sure you want to delete {{ teacher.first_name}} {{ teacher.last_name }}? </p>
    <form method="POST">
        {% csrf_token %}
                <a href="{% url 'list-of-teachers' %}" class="btn btn-primary">No</a>
        <button type="submit" class="btn btn-danger">Yes</button>
{#varianta 2#}
{#        <button type="button" onclick="location.href='{%  url 'list-of-teachers' %}'">Not sure</button>#}
    </form>
{% endblock %}
