{% extends 'base.html' %}
{% block title %} Details {% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            Created at: {{ teacher.created_at }}
          </div>
          <div class="card-body">
            <h5 class="card-title"> {{ teacher.first_name }} {{ teacher.last_name }} </h5>
            <p class="card-text"> Specialisation: {{ teacher.specialisation }}</p>
            <p class="card-text"> Active: {{ teacher.active }}</p>
            <p class="card-text"> Last update: {{ teacher.updated_at}} </p>
          </div>
            <div class="card-footer text-muted">
                <a href="{% url 'list-of-teachers' %}" class="btn btn-primary">Back to List of Teachers</a>
                {% if perms.teacher.change_teacher %}
                    <a href="{% url "update-teacher" teacher.id %}" class="btn btn-success">Update</a>
                {% endif %}
            </div>
        </div>
    </div>



{% endblock %}