{% extends 'base.html' %}
{% block title %} List of Teachers {% endblock %}

{% block content %}
    <form method="get">
        {{ my_filter.form }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Specialisation</th>
{#            <th> Status: Active </th>#}
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for teacher in list_of_teachers %}
                <tr>
                    <td> {{ teacher.first_name }}</td>
                    <td> {{ teacher.last_name }}</td>
                    <td> {{ teacher.specialisation }}</td>
{#                    <td> {{ teacher.active }}</td>#}
                    {% if perms.teacher.change_teacher %}
                        <td> <a href="{% url 'update-teacher' teacher.id %}" class = "btn btn-success">Update</a></td>
                    {% endif %}
                    {% if perms.teacher.delete_teacher %}
                        <td> <a href="{% url 'delete-teacher' teacher.id %}" class="btn btn-danger">Delete</a></td>
                    {% endif %}
                    {% if perms.teacher.detail_view_teacher %}
                        <td> <a href="{% url 'details-teacher' teacher.id %}" class="btn btn-warning">Details</a> </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}