{% extends 'base.html' %}
{% block title %} Update teacher {% endblock %}
{% block content %}
    <div class='col-md-6 offset-md-3'>
        <form method="POST">
        {% csrf_token %}
            {{ form.as_p }}
            <button type = 'submit' class="btn btn-primary">Update</button>
            <a href="{% url 'list-of-teachers' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}