<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    {#de la theme#}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Coming Soon - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Django Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Students
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if perms.student.add_student %}
                                <li><a class="dropdown-item" href="{% url 'create-student' %}">Create a new student</a>
                                </li>
                            {% endif %}
                            {% if perms.student.view_list_of_students %}
                                <li><a class="dropdown-item" href=" {% url 'list-of-students' %}">List of students</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Teacher
                        </a>


                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if perms.teacher.add_teacher %}
                                <li><a class="dropdown-item" href="{% url 'create-teacher' %}">Create a new teacher</a>
                                </li>
                            {% endif %}

                            {% if perms.teacher.view_teacher %}
                                <li><a class="dropdown-item" href="{% url 'list-of-teachers' %}">List of teachers</a>
                                </li>
                            {% endif %}
                        </ul>


                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            List of Teachers
                        </a>


                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for teacher in teachers %}
                            <li><a class="dropdown-item" href="{% url 'students-per-teacher' teacher.id %}"> {{ teacher.first_name }} {{ teacher.last_name }}</a></li>
                            {% endfor %}
                        </ul>


                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            List of Courses
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for course in courses %}
                                <li><a class="dropdown-item"
                                       href="{% url 'teacher-per-course' course.teacher_id %}"> {{ course.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>


                {% endif %}

            </ul>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-info">Logout, {{ request.user.username }}</a>
            {% else %}
                <a href="{% url 'create-user' %}" class="btn btn-primary">Sign up</a>
                <a href="{% url 'login' %}" class="btn btn-success">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>#}
</html>